body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

#logo {
  margin: 0px;
  padding: 8px;
  font-family: "Play", sans-serif;
  font-size: 50px;
}


ul {
   margin: 0px;
}


body > header {               
   background-color: rgb(132, 0, 255);
   color:white;
   /*display: flex;
   height: 12vh;
   justify-content: space-around;
   align-items: center;*/
}

body > header > nav > ul {
   list-style: none;
   text-decoration: none;

}

.navbutton{
   color: white;
   text-decoration: none;

}

body > main > article {
   width: 70%;
   margin: auto;
}


body > footer {
   background-color: rgb(194, 160, 221);
}

/*see? We did it here with the footer^ again. This phenomenon is called SPECIFICITY and it is a concept vital to mark-up languages and coding in general.*/

/*For classes like our navbutton^ always use a '.' before specifying it, to reference it properly.*/

/*when we use a '>' delimeter we can specifiy precisely which part of the html doc we are formatting (neat!) - this way we are saying 'please select which ever headers are a direct descendent of the body.'*/

/*If the name of the font is in two words you must wrap the font name in "" to ensure the whitespace is not computed*/

/*'#' are for IDs, '.' are for CLASSES.*/